<!DOCTYPE html>
<html>

<head>
      <title>About</title>
      <link rel="icon" href="/img/weather.png" />
      <link rel="stylesheet" href="css/style.css" />
</head>

<body>

      <div class="main-content">
            {{>header}}

            <p>This site use darksky api for weather and mapbox to geocode the address.</p>

            <img src="img/logo.jpeg" class="portrait" />
      </div>


      {{>footer}}
</body>

</html>